
.body {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: auto;
  border: 3px solid black;
  border-radius: 8px;
}

.btn {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.btn-inc {
  background: darkred;
}

.btn-save {
  background: darkgreen;
}

.btn-reset {
  background: darkorange;
}
